USE [master]
GO
/****** Object:  Database [bd_cobranzas_banca]    Script Date: 27/01/2026 19:13:33 ******/
CREATE DATABASE [bd_cobranzas_banca]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bd_cobranzas_banca', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\bd_cobranzas_banca.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bd_cobranzas_banca_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\bd_cobranzas_banca_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_cobranzas_banca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_cobranzas_banca]
GO
/****** Object:  Table [dbo].[canal_contacto]    Script Date: 27/01/2026 19:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[canal_contacto](
	[id_canal] [int] IDENTITY(1,1) NOT NULL,
	[nombre_canal] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_canal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 27/01/2026 19:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[tipo_cliente] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[convenio_pago]    Script Date: 27/01/2026 19:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[convenio_pago](
	[id_convenio] [int] IDENTITY(1,1) NOT NULL,
	[id_credito] [int] NOT NULL,
	[monto] [numeric](18, 2) NULL,
	[fecha_registro] [datetime] NULL,
	[fecha_promesa_pago] [date] NULL,
	[fecha_vencimiento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_convenio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[creditos]    Script Date: 27/01/2026 19:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[creditos](
	[id_credito] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_estado_mora] [int] NOT NULL,
	[monto] [numeric](18, 2) NULL,
	[moneda] [varchar](20) NULL,
	[cuotas_programadas] [int] NULL,
	[cuotas_pagadas] [int] NULL,
	[cuotas_pendientes] [int] NULL,
	[monto_atrasado] [numeric](18, 2) NULL,
	[capital_pendiente] [numeric](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_credito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado_mora]    Script Date: 27/01/2026 19:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_mora](
	[id_estado_mora] [int] IDENTITY(1,1) NOT NULL,
	[dias_mora] [int] NOT NULL,
	[clasificacion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado_mora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gestion]    Script Date: 27/01/2026 19:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gestion](
	[id_gestion] [int] IDENTITY(1,1) NOT NULL,
	[id_credito] [int] NOT NULL,
	[id_gestor] [int] NOT NULL,
	[id_canal] [int] NOT NULL,
	[detalle_gestion] [varchar](500) NULL,
	[resultado_gestion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_gestion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gestor]    Script Date: 27/01/2026 19:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gestor](
	[id_gestor] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](50) NULL,
	[apellidos] [varchar](50) NULL,
	[cargo] [varchar](50) NULL,
	[departamento_cobranza] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_gestor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagos]    Script Date: 27/01/2026 19:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[id_credito] [int] NOT NULL,
	[fecha_pago] [datetime] NULL,
	[monto] [numeric](18, 2) NULL,
	[medio_pago] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personas_juridicas]    Script Date: 27/01/2026 19:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personas_juridicas](
	[id_cliente] [int] NOT NULL,
	[ruc] [char](11) NOT NULL,
	[razon_social] [varchar](100) NOT NULL,
	[direccion] [varchar](200) NULL,
	[email] [varchar](100) NULL,
	[telefono] [varchar](30) NULL,
	[tipo_empresa] [varchar](50) NULL,
	[rubro] [varchar](50) NULL,
	[fecha_creacion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ruc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personas_naturales]    Script Date: 27/01/2026 19:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personas_naturales](
	[id_cliente] [int] NOT NULL,
	[dni] [char](8) NOT NULL,
	[nombres] [varchar](50) NOT NULL,
	[apellidos] [varchar](50) NOT NULL,
	[direccion] [varchar](200) NULL,
	[celular] [varchar](30) NULL,
	[email] [varchar](50) NULL,
	[fecha_nacimiento] [date] NULL,
	[genero] [varchar](30) NULL,
	[estado_civil] [varchar](30) NULL,
	[profesion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[convenio_pago]  WITH CHECK ADD  CONSTRAINT [fk_convenio_credito] FOREIGN KEY([id_credito])
REFERENCES [dbo].[creditos] ([id_credito])
GO
ALTER TABLE [dbo].[convenio_pago] CHECK CONSTRAINT [fk_convenio_credito]
GO
ALTER TABLE [dbo].[creditos]  WITH CHECK ADD  CONSTRAINT [fk_credito_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[creditos] CHECK CONSTRAINT [fk_credito_cliente]
GO
ALTER TABLE [dbo].[creditos]  WITH CHECK ADD  CONSTRAINT [fk_credito_mora] FOREIGN KEY([id_estado_mora])
REFERENCES [dbo].[estado_mora] ([id_estado_mora])
GO
ALTER TABLE [dbo].[creditos] CHECK CONSTRAINT [fk_credito_mora]
GO
ALTER TABLE [dbo].[gestion]  WITH CHECK ADD  CONSTRAINT [fk_gestion_canal] FOREIGN KEY([id_canal])
REFERENCES [dbo].[canal_contacto] ([id_canal])
GO
ALTER TABLE [dbo].[gestion] CHECK CONSTRAINT [fk_gestion_canal]
GO
ALTER TABLE [dbo].[gestion]  WITH CHECK ADD  CONSTRAINT [fk_gestion_credito] FOREIGN KEY([id_credito])
REFERENCES [dbo].[creditos] ([id_credito])
GO
ALTER TABLE [dbo].[gestion] CHECK CONSTRAINT [fk_gestion_credito]
GO
ALTER TABLE [dbo].[gestion]  WITH CHECK ADD  CONSTRAINT [fk_gestion_gestor] FOREIGN KEY([id_gestor])
REFERENCES [dbo].[gestor] ([id_gestor])
GO
ALTER TABLE [dbo].[gestion] CHECK CONSTRAINT [fk_gestion_gestor]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [fk_pago_credito] FOREIGN KEY([id_credito])
REFERENCES [dbo].[creditos] ([id_credito])
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [fk_pago_credito]
GO
ALTER TABLE [dbo].[personas_juridicas]  WITH CHECK ADD  CONSTRAINT [fk_pj_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[personas_juridicas] CHECK CONSTRAINT [fk_pj_cliente]
GO
ALTER TABLE [dbo].[personas_naturales]  WITH CHECK ADD  CONSTRAINT [fk_pn_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[personas_naturales] CHECK CONSTRAINT [fk_pn_cliente]
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD CHECK  (([tipo_cliente]='J' OR [tipo_cliente]='N'))
GO
USE [master]
GO
